# Dependencias
node_modules/

# Archivos de registro/errores de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db